<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Blue, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level - %message%newline%exception %method(%line)" />
      </layout>
    </appender>
    
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="./log-file.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline %method(%line)" />
      </layout>
    </appender>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- RollingFile name="Logger" fileName="./Logger.${date:yyyy-MM-dd_hh-mm-ss}.log" / -->
      <!-- RollingFile name="Logger" fileName="${log-path}Logger.${date:yyyy-MM-dd_hh-mm-ss}.log" filePattern="${log-path}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log"/ -->
      <file value="c:\programdata\Logger\Logger/.log" />
      <appendToFile value="true" />
      <!-- rollingStile value="Size"/ -->
      <PreserveLogFileNameExtension value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd.lo\g" />
      <maxSizeRollBackups value="10" />
      <countDirection value="1" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="false" />
      <param name="LockingModel" type="log4net.Appender.FileAppender+MinimalLock" />

		<layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%-5level] [%class] [%method(%line)]  [%message]%newline" />
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Logger" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%thread] [%-5level]  [%property{NDC}] [%method(%line)]  [%message]%newline " />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="RollingFileAppender" />
      <!-- <appender-ref ref="EventLogAppender"/> -->
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Key0" value="00" />
    <add key="Key1" value="01" />
    <add key="Key2" value="02" />
  </appSettings>
  <connectionStrings>
    <!--<add name="LoggerDB" connectionString="Data Source = .; Initial Catalog = logger; Integrated Security=True" />
    <add name="Logger.Properties.Settings.loggerConnectionString" connectionString="Data Source=LT-JOSEPHHANDSC\MVDATA;Initial Catalog=logger;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	  <add name="LoggerSQLite" connectionString="DRIVER=Devart ODBC Driver for SQLite;Locking Mode=Normal;Database=data\Logger.db" />
	  <!-- remove Locking Mode for production releases  / add Locking Mode for developemnt  
	  <add name="LoggerSQLite" connectionString="DRIVER=Devart ODBC Driver for SQLite;Locking Mode=Normal;Database=data\Logger.db"/>  -->

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.15.0" newVersion="2.0.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
