<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Key0" value="00"/>
    <add key="Key1" value="01"/>
    <add key="Key2" value="02"/>
  </appSettings>
  <connectionStrings>
    <add name="LoggerDB" connectionString="Data Source = LT-JOSEPHHANDSC\MVDATA; Initial Catalog = logger; User ID=sa; Password=pa55w0rd!" />
    <add name="Logger.Properties.Settings.loggerConnectionString"
      connectionString="Data Source=LT-JOSEPHHANDSC\MVDATA;Initial Catalog=logger;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
